</!DOCTYPE html>
<html>
<head>
	<title>Add data</title>
	<link rel="stylesheet"type="text/css"href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
	<div class="container">
	<form action="#"method="post">
	Name<input type="text"name="name"><br><br>
	Surname<input type="text"name="surname"><br><br>
	Roll Number<input type="text"name="roll_no"><br><br>
	Mobile Number<input type="text"name="mobile"><br><br>
	Branch<input type="text"name="Branch"><br><br>
	<input type="submit"value="Register">
</div>
</form>
</body>
</html>