</!DOCTYPE html>
<html>
	<title>show data</title>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<body>
	<div class ="container">
	<table class="table-bordered">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Roll number</th>
			<th>Mobile number</th>
			<th>Branch</th>
		</tr>
		{% for r in register %} 
		<tr>
			<td>{{r.id}}</td>
			<td>{{r.name}}</td>
			<td>{{r.surname}}</td>
			<td>{{r.roll_no}}</td>
			<td>{{r.mobile}}</td>
			<td>{{r.Branch}}</td>
			<td><a href="{{url_for('editData',register_id=r.id)}}">Edit</a></td>
			<td><a href="{{url_for('deleteData',register_id=r.id)}}">delete</a></td>
		</tr>
		{% endfor %}
	</table>
	<br><br><br>
	<a href="{{url_for('addData')}}">Add</a>
</body>
</html>